.mainBody{
  //font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif ;
  font-family: 'Crimson Text', serif;
  min-height: 100vh;
  //background-image: url('../src/assets/leaves.png');
  background-color: #1f2029;
  //background-color: white;
  // font-family: "Metropolis", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

  
}