.header-logo {
    font-family: 'Cabin Sketch', cursive;
    font-size: 15px;
    .logo1{
        font-size: 40px;
    }
}
.footer-logo{
    font-family: 'Cabin Sketch', cursive;
    font-size: 10px;
    .logo1{
        font-size: 20px;
    }
}